<template>
	<view class="container">
		
	<form @submit="formRegister">
		<view class="tui-login-from">
			<view class="tui-line-cell">
				<tui-icon name="mobile" size="20" color='#5677fc'></tui-icon>
				<input placeholder-class="phcolor" class="tui-input" name="mobile" placeholder="手机号码" maxlength="11" v-model="mobile"
				 type="number" />
			</view>
			<view class="tui-line-cell tui-top28">
				<tui-icon name="pwd" size="20" color='#5677fc'></tui-icon>
				<input placeholder-class="phcolor" class="tui-input"  type="password" name="password" placeholder="密码（区分大小写）" maxlength="8" v-model="password"/>
			</view>
			
			<view class="tui-line-cell tui-top28">
				<tui-icon name="pwd" size="20" color='#5677fc'></tui-icon>
				<input placeholder-class="phcolor" class="tui-input" name="smscode" placeholder="请输入验证码" maxlength="6" />
				<button :class="{active : !disableCodeBtn}" :disabled="disableCodeBtn" @tap="btnSend" class="btn-sms">{{codeBtn.text}}</button>
				
			</view>
			<view>					
				<button class="tui-btn-login" hover-class="btn-hover" form-type="submit">注册</button>
			</view>
			<view class="tui-protocol" hover-class="opcity" :hover-stay-time="150">点击"注册"即表示已同意
				<text class="tui-protocol-red" @tap="protocol">《用户协议》</text>
			</view>
		</view>
	</form>
			
	</view>
</template>

<script>
	import {
		mapState,
		mapMutations,
		mapActions
	} from 'vuex'
	import tuiIcon from "@/components/icon/icon"
	import tuiButton from "@/components/button/button"
	const util = require('../../../utils/util.js')
	export default {
		components: {
			tuiIcon,
			tuiButton
		},
		data() {
			return {
				
				disabled: false,
				mobile: "",
				type: "primary",
				code: "",
				userinfo:{},
				uid:1,
				seconds: 60,
				codeBtn: {
					text: '获取验证码',
					waitingCode: false,
					count: this.seconds
				},
				changeSuccess: false,
				
			}
		},
		
		onLoad: function(options) {
			let that = this;
			if(options.uid >0 ){
				this.uid = options.uid;
			}
			
			
		},
		methods: {
			...mapMutations(['login']),
			
		
			btnSend: function() {
				if (util.isNullOrEmpty(this.mobile)) {
					this.tui.toast('请输入手机号码');
					return
				} else if (!util.isMobile(this.mobile)) {
					this.tui.toast('请输入正确的手机号码');
					return
				}
				
				this.codeBtn.waitingCode = true;
				this.codeBtn.count = this.seconds;
				this.codeBtn.text = this.codeBtn.count + 's';
				this.$http.get('/api/sms/send', {
					mobile: this.mobile,
					event: 'register'
				}).then(res => {
					if (res.data.code > 0) {
						this.tui.toast(res.data.msg);
						let countdown = setInterval(() => {
							this.codeBtn.count--;
							this.codeBtn.text = this.codeBtn.count + 's';
							if (this.codeBtn.count < 0) {
								clearInterval(countdown);
								this.codeBtn.text = '重新发送';
								this.codeBtn.waitingCode = false;
							}
						}, 1000);
					} else {
						this.tui.toast(res.data.msg);
						return
					}
							
				})
							
			},
			
			formRegister: function(e) {
				let password = e.detail.value.password;
				let mobile = e.detail.value.mobile;
				let smscode = e.detail.value.smscode;
				
				if (util.isNullOrEmpty(mobile)) {
					this.tui.toast('请输入手机号码');
					return
				} else if (!util.isMobile(mobile)) {
					this.tui.toast('请输入正确的手机号码');
					return
				} else if (util.isNullOrEmpty(password)) {
					this.tui.toast('请输入密码');
					return
				} else if (util.isNullOrEmpty(smscode)) {
					this.tui.toast('请输入验证码');
					return
				} 
				
				this.$http.post('/api/user/register', {mobile: mobile,password:password,captcha:smscode, invite:this.uid}).then(res => {
			
				   console.log(res.data.data)
				   if(res.data.code>0){
					  uni.setStorageSync("thorui_mobile", util.formatNum(mobile));
					  uni.setStorageSync("isLogin", true);
					  let state = {
					  	mobile: util.formatNum(mobile),
					  	isLogin: true,
					  	userinfo:this.userinfo,
					  	userId: this.userinfo.user_id,
						token: this.userinfo.token,
						score: this.userinfo.score,
						avatar: this.userinfo.avatar,
						money: this.userinfo.money
					  								
					  };
					  this.login(state);
					  this.tui.toast("注册成功", 2000, true);
					  setTimeout(() => {
						window.location.href = 'https://btc.51mine.top/addons/game/weixin/down'
						uni.reLaunch({
							url: 'https://btc.51mine.top/addons/game/weixin/down'
						})
					  }, 200); 
					   
				   }else{
					  this.tui.toast(res.data.msg, 2000, true);
					   
				   }
				   
				})
				   
				
			},
			protocol: function() {
				uni.navigateTo({
					url: '../../about/protect'
				})
			},
			forget: function() {
				uni.navigateTo({
					url: './forget'
				})
			},
			// 滚动切换标签样式
			switchTab: function(e) {
				let that = this;
				this.currentTab = e.detail.current;
				this.checkCor();
			},
			// 点击标题切换当前页时改变样式
			swichNav: function(e) {
				let cur = e.currentTarget.dataset.current;
				if (this.currentTab == cur) {
					return false;
				} else {
					this.currentTab = cur
				}
			},
			//判断当前滚动超过一屏时，设置tab标题滚动条。
			checkCor: function() {
				if (this.currentTab > 3) {
					//这里距离按实际计算
					this.scrollLeft = 300
				} else {
					this.scrollLeft = 0
				}
			},
			detail(e) {
				uni.navigateTo({
					url: '../extend-view/newsDetail/newsDetail'
				})
			}
		},
		computed: {
			disableCodeBtn: function() {
				return this.codeBtn.waitingCode;
			}
		}
	}
</script>







<style>
	page {
		background: #fff;
	}

     swiper{
		 margin-top: 100rpx;
	 }
	.tui-bg-box {
		width: 100%;
		box-sizing: border-box;
		position: relative;
		padding-top: 44upx;
	}

	.tui-photo {
		height: 138upx;
		width: 138upx;
		display: block;
		margin: 10upx auto 0 auto;
		border-radius: 50%;
	}

	.tui-login-name {
		width: 128upx;
		height: 40upx;
		font-size: 30upx;
		color: #fff;
		margin: 36upx auto 0 auto;
		text-align: center;
	}

	.tui-bg-img {
		width: 100%;
		height: 346upx;
		display: block;
		position: absolute;
		top: 0;
		z-index: -1;
	}

	.tui-login-from {
		width: 100%;
		padding: 128upx 60upx 0 60upx;
		box-sizing: border-box;
	}

	.tui-input {
		font-size: 32upx;
		flex: 1;
		display: inline-block;
		padding-left: 32upx;
		box-sizing: border-box;
		overflow: hidden;
	}

	.tui-line-cell {
		padding: 27upx 0;
		display: -webkit-flex;
		display: flex;
		-webkiit-align-items: center;
		align-items: center;
		position: relative;
		box-sizing: border-box;
		overflow: hidden;
	}

	.tui-line-cell::after {
		content: '';
		position: absolute;
		border-bottom: 1upx solid #e0e0e0;
		-webkit-transform: scaleY(0.5);
		transform: scaleY(0.5);
		bottom: 0;
		right: 0;
		left: 0;
	}

	.tui-top28 {
		margin-top: 28upx;
	}

	.tui-btn-class {
		width: 196upx !important;
		height: 54upx !important;
		border-radius: 27upx !important;
		font-size: 28upx !important;
		padding: 0 !important;
		line-height: 54upx !important;
	}

	.tui-btn-submit {
		margin-top: 100upx;
		
	}

	.tui-protocol {
		color: #333;
		font-size: 24upx;
		text-align: center;
		width: 100%;
		margin-top: 29upx;
	}

	.tui-protocol-red {
		color: #f54f46;
	}

	.title{
		font-size:64rpx;
		font-family:PingFangSC-Semibold;
		font-weight:600;
		color:rgba(43,47,70,1);
		line-height:90rpx;
		margin: 94rpx 0rpx 20rpx 50rpx;
	}
	/*tabbar start*/
	::-webkit-scrollbar {
		width: 0;
		height: 0;
		color: transparent;
	}

	.tab-view::before {
		content: '';
		position: absolute;
		/* border-bottom: 1upx solid #eaeef1; */
		-webkit-transform: scaleY(0.5);
		transform: scaleY(0.5);
		bottom: 0;
		right: 0;
		left: 0;
	}

	.tab-view {
		width: 100%;
		height: 100upx;
		overflow: hidden;
		box-sizing: border-box;
		position: fixed;
		top:60rpx;
		margin-left: 60rpx;
		/* #ifdef H5 */
		top: 64px;
		/* #endif */
		left: 0;
		z-index: 99;
		background: #fff;
		white-space: nowrap;
	}

	.tab-bar-item {
		padding: 0;
		height: 100upx;
		min-width: 20%;
		line-height: 100upx;
		display: inline-block;
		text-align: center;
		box-sizing: border-box;
	}

	.tab-bar-title {
		height: 100upx;
		line-height: 100upx;
		font-size: 32upx;
		color: #999;
		font-weight: 400;
	}

	.active {
		border-bottom: 6upx solid #2B2F46;
	}

	.active .tab-bar-title {
		color: #2B2F46 !important;
		font-size: 36upx;
		font-weight: bold;
	}

	/*tabbar end*/
	.scoll-y {
		height: 100%;
	}

	.list-view {
		margin-top: 100upx;
		width: 100%;
		background: #fff;
		box-sizing: border-box;
		padding-bottom: env(safe-area-inset-bottom);
	}

	.list-cell {
		padding: 30upx;
		box-sizing: border-box;
		display: initial;
	}

	.cell-title-box {
		display: flex;
		justify-content: space-between;
	}

	.cell-title {
		font-size: 36rpx;
		line-height: 120rpx;
		padding: 20rpx;
		width: 70%;
		text-align: left;
		float: left;
		/* padding-bottom: 30upx; */
	}
    .sub-title {
		padding-top: 24rpx;
		font-size: 28rpx;
		color: #BCBCBC;
		width: 20%;
		float: left;
		text-align:center;

		
	}
	.b-money{
		font-size:24rpx;
		font-family:PingFangSC-Regular;
		font-weight:400;
		color:rgba(43,47,70,1);
		line-height:40rpx;
	}
	.img-container {
		width: 100%;
		padding-top: 24upx;
		display: flex;
		height: 160upx;
		justify-content: space-between;
	}

	.cell-img {
		width: 32%;
		overflow: hidden;
		position: relative;
	}

	.img {
		width: 100%;
		height: 160upx;
		display: block;
		/* position: absolute;
		  left: 50%;
		  top:50%;
		  transform: translate(-50%,-50%);
		*/
		border-radius: 4upx;
	}

	

	.badge {
		padding: 5upx 10upx;
		font-size: 24upx;
		border-radius: 4upx;
		margin-right: 20upx;
	}

	.b-red {
		background: #FCEBEF;
		color: #8A5966;
	}

	.b-blue {
		background: #ECF6FD;
		color: #4DABEB;
	}

	.b-orange {
		background: #FEF5EB;
		color: #FAA851
	}

	.b-green {
		background: #E8F6E8;
		color: #44CF85
	}
	
	.tui-btn-login{
		 background: #AFBED6;
		 margin-top: 30rpx;
		 color: #FFFFFF;
	}
	
	.forget{
		width: 150rpx;
		float: right;
		height: 50rpx;
		margin-top: 10rpx;
	}
	.btn-sms{
		margin-right: 30rpx;
		border-radius: 12rpx;
		height: 70rpx;
		width: 33%;
		padding: 3rpx;
		line-height: 70rpx;
		margin-bottom: 3rpx;
		text-align: center;
		border: 2rpx solid rgba(43, 47, 70, 1);
		float: right;
	}
</style>
