<template>
	<view class="container">
	<form @submit="formChangepwd">
		
	<tui-list-view title="设置登陆密码" class="tui-list-view">
		<view class="tui-line-cell">
			<input placeholder-class="phcolor" class="tui-input" name="password" placeholder="请输入当前登录密码" maxlength="11" 
			 type="password"  />
		</view>
		<view class="tui-line-cell">
			<input placeholder-class="phcolor" class="tui-input" name="newpassword" placeholder="输入新的登录密码" maxlength="11" 
			 type="password"  />
		</view>
		<view class="tui-line-cell">
			<input placeholder-class="phcolor" class="tui-input" name="renewpassword" placeholder="再次输入新的登录密码" maxlength="11" 
			 type="password"  />
		</view>
		<view class="tui-line-cell tui-top28">
			<input placeholder-class="phcolor" class="tui-input" name="smscode" placeholder="请输入验证码" maxlength="6" type="number" />
			<button :class="{active : !disableCodeBtn}" :disabled="disableCodeBtn" @tap="btnSend" class="btn-sms">{{codeBtn.text}}</button>
		</view>
	</tui-list-view>
	<view>					
		<button class=" tui-btn-reback" hover-class="btn-hover" form-type="submit">确认</button>
	</view>
	</form>
	</view>
</template>

<script>
	import tuiListView from "@/components/list-view/list-view"
	import tuiListCell from "@/components/list-cell/list-cell"
	import tuiIcon from "@/components/icon/icon"
	import tuiTag from "@/components/tag/tag"
	import tuiBadge from "@/components/badge/badge"
	const util = require('../../../utils/util.js')
	export default {
		components: {
			tuiListView,
			tuiListCell,
			tuiIcon,
			tuiTag,
			tuiBadge,
			
		},
		data() {
			return {
			  userinfo:{},
			  mobile:'',
			  seconds: 60,
			  codeBtn: {
			  	text: '获取验证码',
			  	waitingCode: false,
			  	count: this.seconds
			  },
			  changeSuccess: false,
			}
		},
		onLoad() {
			//console.log(this.$http.getConfig());
		    this.userinfo = uni.getStorageSync("userinfo");
		    this.mobile = this.userinfo.mobile;
		},
		methods: {
			detail: function() {
				uni.showToast({
					title: '详情功能尚未完善~',
					icon: "none"
				})
			},
			btnSend: function() {
				this.codeBtn.waitingCode = true;
				this.codeBtn.count = this.seconds;
				this.codeBtn.text = this.codeBtn.count + 's';
				this.$http.get('/api/sms/send', {
					mobile: this.mobile,
					event: 'changepwd'
				}).then(res => {
					if (res.data.code > 0) {
						this.tui.toast(res.data.msg);
						let countdown = setInterval(() => {
							this.codeBtn.count--;
							this.codeBtn.text = this.codeBtn.count + 's';
							if (this.codeBtn.count < 0) {
								clearInterval(countdown);
								this.codeBtn.text = '重新发送';
								this.codeBtn.waitingCode = false;
							}
						}, 1000);
					} else {
						this.tui.toast(res.data.msg);
						return
					}
			
				})
			
			
			},
			
			
			formChangepwd: function(e) {
				let password = e.detail.value.password;
				let newpassword = e.detail.value.newpassword;
				let renewpassword = e.detail.value.renewpassword;
				
				
				let smscode = e.detail.value.smscode;
				
				if (util.isNullOrEmpty(password)) {
					this.tui.toast('请输入旧密码');
					return
				} else if (util.isNullOrEmpty(newpassword)) {
					this.tui.toast('请输入新密码');
					return
				}  else if (newpassword != renewpassword) {
					this.tui.toast('两次输入的密码不一致');
					return
				} else if (util.isNullOrEmpty(smscode)) {
					this.tui.toast('请输入验证码');
					return
				} 
				this.$http.post('/api/user/changepwd', {password: password,newpassword: newpassword,captcha:smscode,mobile:this.mobile,token:this.userinfo.token}).then(res => {
			
				   if(res.data.code>0){
					  this.tui.toast(res.data.msg, 2000, true);
					  setTimeout(() => {
						uni.navigateBack({
							delta: 2
						});
					  }, 200); 
					   
				   }else{
					  this.tui.toast(res.data.msg, 2000, true);
					   
				   }
				   
				})
				   
				
			},
		},
		computed: {
			disableCodeBtn: function() {
				return this.codeBtn.waitingCode;
			}
		}
	}
</script>

<style>
	.container {
		padding-bottom: env(safe-area-inset-bottom);
	}
	.tui-list-title{
		font-size:64rpx !important;
		font-family:PingFangSC-Semibold;
		font-weight:600;
		color:rgba(43,47,70,1);
		line-height:90rpx !important;
	}
	.tui-list-view {
		padding-top: 40upx !important;
		
	}
	.btn-sms{
		margin-right: 30rpx;
		border-radius: 12rpx;
		height: 70rpx;
		width: 33%;
		padding: 3rpx;
		line-height: 70rpx;
		margin-bottom: 3rpx;
		text-align: center;
		border: 2rpx solid rgba(43, 47, 70, 1);
		float: right;
	}
	.tui-btn-mini{
		height: 60rpx !important;
		line-height: 60rpx !important;
	}
	.tui-list-cell-name {
		padding-left: 20upx;
		vertical-align: middle;
		line-height: 30upx;
	}
	
	.tui-list::after {
		left: 94upx !important
	}
	
	.tui-right {
		margin-left: auto;
		margin-right: 34upx;
		font-size: 26upx;
		line-height: 1;
		color: #999;
	}
	.tui-input {
		font-size: 32upx;
		flex: 1;
		display: inline-block;
		padding-left: 32upx;
		box-sizing: border-box;
		overflow: hidden;
	}
	
	.tui-line-cell {
		padding: 5upx 0;
		display: -webkit-flex;
		display: flex;
		-webkiit-align-items: center;
		align-items: center;
		position: relative;
		box-sizing: border-box;
		overflow: hidden;
		font-size: 36rpx !important;
		height: 100rpx;
	}
	
	
	
	.logo {
		height: 40upx;
		width: 40upx;
	}
	
	.tui-flex {
		display: flex;
		align-items: center;
	}
	
	.tui-msg-box {
		display: flex;
		align-items: center;
	}
	
	.tui-msg-pic {
		width: 100upx;
		height: 100upx;
		border-radius: 50%;
		display: block;
		margin-right: 24upx;
	}
	
	.tui-msg-item {
		max-width: 500upx;
		min-height: 80upx;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.tui-msg-name {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 34upx;
		line-height: 1;
		color: #262b3a;
	}
	
	.tui-msg-content {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 26upx;
		line-height: 1;
		color: #9397a4;
	}
	
	.tui-msg-right {
		max-width: 120upx;
		height: 88upx;
		margin-left: auto;
		text-align: right;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
	}
	
	.tui-msg-right.tui-right-dot {
		height: 76upx;
		padding-bottom: 10upx;
	
	}
	
	.tui-msg-time {
		width: 100%;
		font-size: 24upx;
		line-height: 24upx;
		color: #9397a4;
	}
	
	.tui-badge {
		width: auto
	}
	
	.tui-msg::after {
		left: 154upx !important
	}
	 .tui-btn-reback{
			 background: #AFBED6;
			 margin: 30rpx;
			 color: #FFFFFF;
	}
	.tui-tip{
			 font-size:24rpx;
			font-family:PingFangSC-Regular;
			font-weight:400;
			color:rgba(175,190,214,1);
			line-height:44rpx;
			padding: 30rpx;
	}
</style>
