<template>
	<view class="container">
		<form @submit="form">
	<tui-list-view title="基础设置" class="tui-list-view">
		<tui-list-cell class="tui-list-cell">
			真实姓名
			<input placeholder-class="phcolor" class="tui-input" name="realname" placeholder="请输入真实姓名" maxlength="11" v-model="realname"  />
		</tui-list-cell>
		
		<tui-list-cell class="tui-list-cell">
			昵称（两字）
			<input placeholder-class="phcolor" class="tui-input" name="nickname" placeholder="输入两个字昵称" maxlength="4" v-model="nickname"
			  />
		</tui-list-cell>
		<tui-list-cell class="tui-list-cell">
			银行卡开户行
			<input placeholder-class="phcolor" class="tui-input" name="cardname" placeholder="请输入银行卡开户行" maxlength="30" v-model="cardname"
			  />
		</tui-list-cell>
		<tui-list-cell class="tui-list-cell">
			银行卡卡号
			<input placeholder-class="phcolor" class="tui-input" name="card" placeholder="请输入银行卡号" maxlength="30" v-model="card"
			  />
		</tui-list-cell>
		<tui-list-cell class="tui-list-cell">
			收款支付宝
			<input placeholder-class="phcolor" class="tui-input" name="alipay" placeholder="请输入支付宝账号" maxlength="30" v-model="alipay"
			  />
		</tui-list-cell>
		
		
	</tui-list-view>
	<view class="tui-tip">
		<text >
	      提示：为方便运营维护，请使用两个字的昵称信息
	    </text>
	</view>
	<view>					
		<button class=" tui-btn-reback" hover-class="btn-hover" form-type="submit">确认</button>
	</view>
	</form>
	</view>
</template>

<script>
	import tuiListView from "@/components/list-view/list-view"
	import tuiListCell from "@/components/list-cell/list-cell"
	import tuiIcon from "@/components/icon/icon"
	import tuiTag from "@/components/tag/tag"
	import tuiBadge from "@/components/badge/badge"
    const util = require('../../../utils/util.js')
	import Api from "@/common/api"
	
	export default {
		components: {
			tuiListView,
			tuiListCell,
			tuiIcon,
			tuiTag,
			tuiBadge
		},
		data() {
			return {
	          userInfo:{},
			  nickname:'',
			  alipay:'',
			  realname:'',
			  cardname:'',
			  card:''
			}
		},
		onLoad() {
			this.userInfo = uni.getStorageSync("userInfo");
			this.getUser();
			this.card = this.userInfo.card;
			this.cardname = this.userInfo.cardname;
			this.nickname = this.userInfo.nickname;
			this.alipay =  uni.getStorageSync("alipay");
			this.realname =  uni.getStorageSync("realname");
		  
		
		},
		methods: {
			
			async form(e) {
				let nickname = e.detail.value.nickname;
				let alipay = e.detail.value.alipay;
				let realname = e.detail.value.realname;
				let card = e.detail.value.card;
				let cardname = e.detail.value.cardname;
				if (util.isNullOrEmpty(alipay)) {
					this.tui.toast('请输入支付宝号');
					return
				} else if (util.isNullOrEmpty(realname)) {
					this.tui.toast('请输入真实姓名');
					return
				} else if (util.isNullOrEmpty(nickname)) {
					this.tui.toast('请输入昵称');
					return
				} 
				let params = {
					token: this.userInfo.token,
					user_id: this.userInfo.user_id,
					nickname: nickname,
					alipay: alipay,
					realname:realname,
					card: card,
					cardname:cardname
				};
				let data =  await Api.apiCall('post', Api.index.nickname, params);
				if (data) {
					if(data.code>0){
					   this.tui.toast(data.msg, 2000, true);
					   uni.setStorageSync("nickname", nickname);
					   uni.setStorageSync("checked",true);
					   uni.setStorageSync("alipay", alipay);
					   uni.setStorageSync("realname", realname);
					  setTimeout(() => {
						uni.navigateBack({
							delta: 1
						});
					  }, 200); 
												   
					}else{
						this.tui.toast(data.msg, 2000, true);
												   
					}
				}
				
				
				
				
			},
			
			async getUser() {
				let params = {
					token: this.userInfo.token
				};
				let data = await Api.apiCall('get', Api.index.userInfo, params);
				if (data) {
			
					this.alipay = data.data.alipay;
					this.nickname = data.data.nickname;
					uni.setStorageSync("userInfo",data.data);
					uni.setStorageSync("nickname",this.nickname);
					//this.tui.toast('余额已经同步');
					return
				}
			},
			
		
		}
	}
</script>

<style>
	.container {
		padding-bottom: env(safe-area-inset-bottom);
	}

	.tui-list-title{
		font-size:64rpx !important;
		font-family:PingFangSC-Semibold;
		font-weight:600;
		color:rgba(43,47,70,1);
		line-height:90rpx !important;
	}
	.tui-list-cell {
		padding: 27upx 0;
		display: -webkit-flex;
		display: flex;
		-webkiit-align-items: center;
		align-items: center;
		position: relative;
		box-sizing: border-box;
		overflow: hidden;
		height: 90rpx;
		font-size: 36rpx !important;
	}
	.tui-input{
		padding-left: 30rpx;
	}
	.tui-list-view {
		padding-top: 40upx !important;
		
	}
	
	.tui-list-cell-name {
		padding-left: 20upx;
		vertical-align: middle;
		line-height: 30upx;
	}
	
	.tui-list::after {
		left: 94upx !important
	}
	
	.tui-right {
		margin-left: auto;
		margin-right: 34upx;
		font-size: 26upx;
		line-height: 1;
		color: #999;
	}
	
	.logo {
		height: 40upx;
		width: 40upx;
	}
	
	.tui-flex {
		display: flex;
		align-items: center;
	}
	
	.tui-msg-box {
		display: flex;
		align-items: center;
	}
	
	.tui-msg-pic {
		width: 100upx;
		height: 100upx;
		border-radius: 50%;
		display: block;
		margin-right: 24upx;
	}
	
	.tui-msg-item {
		max-width: 500upx;
		min-height: 80upx;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.tui-msg-name {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 34upx;
		line-height: 1;
		color: #262b3a;
	}
	
	.tui-msg-content {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 26upx;
		line-height: 1;
		color: #9397a4;
	}
	
	.tui-msg-right {
		max-width: 120upx;
		height: 88upx;
		margin-left: auto;
		text-align: right;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
	}
	
	.tui-msg-right.tui-right-dot {
		height: 76upx;
		padding-bottom: 10upx;
	
	}
	
	.tui-msg-time {
		width: 100%;
		font-size: 24upx;
		line-height: 24upx;
		color: #9397a4;
	}
	
	.tui-badge {
		width: auto
	}
	
	.tui-msg::after {
		left: 154upx !important
	}
	 .tui-btn-reback{
			 background: #AFBED6;
			 margin: 30rpx;
			 color: #FFFFFF;
	}
	.tui-tip{
			 font-size:24rpx;
			font-family:PingFangSC-Regular;
			font-weight:400;
			color:rgba(175,190,214,1);
			line-height:44rpx;
			padding: 30rpx;
	}
</style>
