<template>
	<view>
		<!-- mask层 -->
		<view :class="['mask', show ? '' : 'visible']" @tap="close"></view>
		
		<!-- 键盘 -->
		<view :class="['keyboard', show ? '' : 'active', isIphoneX ? 'isIphone' : '']">
			<!-- <view :class="['code', show ? '' : 'visible']"> -->
			
			<view class="info"></view>
			<view class="code">
				 <view class="link-input" >{{password}}</view>
				  <button class="betBtn bgBtn1" @tap="send()">发送</button>		
			</view>	
			<view  class="game_one">
				<view class="keyboard-item keyboard-items" @tap="key('取消')">取消</view>
				<view class="keyboard-item keyboard-items" @tap="key('上分')">上分</view>
				<view class="keyboard-item keyboard-items" @tap="key('下分')">下分</view>
				<view class="keyboard-item keyboard-items"  @tap="del()">
					<tui-icon name="deletekey" size="30" color="#dedede"></tui-icon>
				</view>
			</view>
			<block v-for="(item, index) in bets" :key="index">
				<view class="keyboard-item" @tap="key(item[1])">{{item[0]}}</view>
			</block>
			<!-- <view class="keyboard-item hide"></view> -->
			
<!-- 			<view class="keyboard-item delte" @tap="del()"><image class="img" src="../../../static/del.png" mode="aspectFill" :lazy-load="true"></image></view>
 -->            <!-- </view>		 -->
		</view>
		
	</view>
</template>

<script>
	import Api from "@/common/api"
	import tuiIcon from "@/components/icon/icon"
	
	
	export default {
		components:{
			tuiIcon,
		},
		props: {
			game: {
				type: Array,
				default: []  
			},
			show: {
				type: Boolean,
				default: false 
			},
			isIphoneX: {
				type: Boolean,
				default: false 
			},
			msg: {
				type: String,
				default: '' 
			},
		},
		data() {
			return {
				password: '',
				trantision: false,
				bets:[]
				//bets:['取消','对子','顺子','豹子','.','大','1','2','3','大单','小','4','5','6','大双','单','7','8','9','小单','双','极大','0','极小','小双']
				
			};
		},
		 //计算传过来的属性
		  computed: {
		    is28() {
		      return this.game;
			  
		    },
		  },
		 
		  watch: {
		    is28: {
		      //深度监听，可监听到对象、数组的变化
		      handler(newV, oldV) {
		        // do something, 可使用this
		        //console.log(newV, oldV);
		          //根据属性变化改变样式
				   this.bets = newV
		        
		      },
		      deep: true
		    }
		  },
		
		
		methods: {
			
			key(key) {
				this.password += key;
				// this.betcontent = this.password.replace(/_/g, '')
				// this.password = this.password.replace(/_/g, ' ')
				this.$emit('msg',this.password,true);
				//console.log(this.betcontent);	console.log(this.password);

			},
			send(){
				this.trantision = false;
				this.$emit('toSend',this.password);
				this.close();
			},
			clear() {
				this.password = '';
			},
			close() {
				this.password = '';
				this.trantision = false;
				this.$emit('close', false);
			},
			del() {
				this.password = this.password.substring(0, this.password.length - 1);
				
				// if (this.betcontent.length > 1) {
				// 	this.betcontent = this.betcontent.substring(0, this.betcontent.length - 1);
				// }else if(this.betcontent.length==1){
				// 	this.betcontent = this.betcontent.substring(0, this.betcontent.length - 1);
				// 	this.password='';
				// }
			},
			
			
			
		}
	}
</script>

<style lang="scss">
	input {
		display: none;
	}
	.mask {
		position: fixed;
		width: 100vw;
		height: 100vh;
		left: 0;
		top: 0;
		transition: all 0.3s ease;
		background: rgba(102, 102, 102, 0.3);
		opacity: 1;
		z-index: 9996;
		visibility: visible;
	}
	.content {
		width: 588rpx;
		height: 570rpx;
		border-radius: 15rpx;
		position: absolute;
		left: 50%;
		top:35%;
		margin-left: -294rpx;
		margin-top: -285rpx;
		background: #fff;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		z-index: 2;
		opacity: 1;
		visibility: visible;
		transition: all 0.3s ease;
	}
	.contenthide {
		margin-left: -350rpx;
		margin-top: -340rpx;
		width: 700rpx;
		height: 680rpx;
		opacity: 0;
		z-index: 0;
		visibility: hidden;
	}
	.visible {
		opacity: 0;
		z-index: 2;
		visibility: hidden;
	}
	.title_i{
		text-align: center;
		
		line-height: 80rpx;
		font-size: 32rpx;
		color: white;
		
	}
	
	
	.title_close{
		
		text-align: center;
	}
	.info {
		background-color: white;
		color: #C8C7CC;
		text-align: center;
		width: 100%;
		font-size: 32rpx;
	}
	.title {
	  background-color: #ff6364;
	  width: 100%;
	  height: 11vw;
	  
	  -webkit-box-align: start;
	  -webkit-align-items: flex-start;
			  align-items: flex-start;
	  margin-top: -1rpx;
       border-radius: 0 0 20% 20%;
	}
	.center {
		color: #333;
		font-size: 32rpx;
	}
	.close {
		width: 50rpx;
		height: 50rpx;	
	}
	image {
		width: 100%;
		height: 100%;
	}
	.pay-money {
		width: 525rpx;
		height: 240rpx;
		border-bottom: 1rpx solid #EBEBEB;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.pay-money view {
		width: 100%;
		height: 80rpx;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.pay-way {
		width: 520rpx;
		height: 85rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #8A8A8A;
		font-size: 28rpx;
	}
	.money {
		font-size: 45rpx;
		font-weight: 600;
		margin-bottom: 50rpx;
	}
	.money text {
		font-size: 60rpx;
		margin-left: 10rpx;
	}
	.pay-img {
		color: #333333;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.pay-img image {
		width: 35rpx;
		height: 35rpx;
		margin-right: 10rpx;
	}
	.code {
		width: 100%;
		background: #EBEBEB;
		display: flex;
		justify-content: left;
		align-items: center;
		box-sizing: border-box;
		border: 1rpx solid #EBEBEB;
		padding: 20rpx 0;
		border-top:none

	}
	.code-box {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border: 1px solid #d0d0d0;
	}
	.code-box-item {
		width: 86rpx;
		height: 86rpx;
		background: #fff;
		font-size: 40rpx;
		line-height: 75rpx;
		text-align: center;
	}
	.code-box-item:not(:last-child) {
		border-right: 1px solid #d0d0d0;
	}
	.keyboard {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		background: #EBEBEB;
		display: flex;
		justify-content: center;
		z-index: 10000;
		flex-wrap: wrap;
		transition:all 0.2s ease-in 0.2s;
	}
	.active {
		bottom: -800rpx;
		display: none;
	}
	.keyboard-item {
		box-sizing: border-box;
		width: 150rpx;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #fff;
		font-size: 30rpx;
		color: #333;
		height: 80rpx;
		border: 1rpx solid #EBEBEB;
		border-top:none;
		border-left:none;
		

	}
	.game_one .keyboard-items{
		width: 186rpx !important;
		float: left;
	}
	.game_two .keyboard-item{
		float: left;
	}
	.hide {
		opacity: 0;
	}
	// .delte {
	// 	background: none;
	// 	box-shadow: none;
	// }

   .send{
		color: #fff;
		background-color: #eb6161;
	}
	.isIphone {
		padding-bottom: 68rpx !important;
	}
</style>
