<template>
	<view class="pro-container">
		<you-scroll ref="scroll" @onPullDown="onPullDown" >
		<view>
		<view class="tui-go" v-for="(items,iindex) in activityList" :key="iindex">
			 <view class="hongbao"><image :src="items.images" mode="scaleToFill" @tap="acdetail(items)"></image></view> 	
			
		</view>
		<view  v-for="(item,index) in productList" :key="index">
			<view class="tui-pro-item list-item" hover-class="hover" :hover-start-time="150" @tap="detail(item)">
				<!-- <image :src="item.images" class="tui-pro-img" mode="widthFix" /> -->
				<view class="tui-pro-content">
					<view class="tui-pro-tit"> 
					
					 <view class="title-icon"><image src="/static/images/classify/bitcoin.png" mode="scaleToFill"></image></view>
					 <!-- <text class="title">{{item.spec[0].goods_no}}</text> -->
					   <text class="title-name">{{item.goods_name}}</text>
					</view>
						<view class="tui-fee">
							+{{item.spec[0].goods_weight}}%
						</view>
						<view class="tui-fee-dec">
						   年转化率
						</view>
					
					<view class="tui-pro-btmbox">
						<view class="tui-pro">
							<text class="">起投金额</text>
						</view>
						<view class="tui-countdown">
							<view class="tui-pro-con">{{item.spec[0].goods_price}}元起投</view>
						</view>
					</view>
					<view class="tui-pro-btmbox">
						<view class="tui-pro">
							<text class="">剩余数量</text>
						</view>
						<view class="tui-countdown">
							<view class="tui-pro-con">剩余 {{item.spec[0].stock_num}}份</view>
						</view>
					</view>
				</view>
			</view>
		</view>
		</view>
		</you-scroll>
	</view>
</template>

<script>
	import {
		mapState
	} from 'vuex'
	import youScroll from '@/components/you-scroll'
	const util = require('../../utils/util.js')
	
	export default {
		components: {
			
			youScroll
		},
		computed: mapState(['isLogin', 'mobile']),
		data() {
			return {
				productList:[],
				activityList:[],
				userinfo:{},
				inviteNum:0,
				invitedata:[]
			}
		}, 
		onLoad() {
		   //console.log(this.$http.getConfig());
			let isLogin = uni.getStorageSync("isLogin");
			this.userinfo = uni.getStorageSync("userinfo");
			if(!isLogin){
				uni.reLaunch({
					url: '../user/login/login'
				})
			}else{
				this.loadData();
				this.loadinvite();
				this.loadActivityData();
				
			}
			
		},
		methods: {
			onPullDown(done) { // 下拉刷新
				setTimeout(() => {
					this.loadData();
					this.loadinvite();
					this.loadActivityData();
					done(); // 完成刷新
				},1000*1)
			},
			detail: function(e) {
				
				let detail = {
					id: e.goods_id,
					title: e.goods_name,
				}
				uni.navigateTo({
					url: "./detail?detail=" + JSON.stringify(detail)
				})
			},
			acdetail:function(e) {
				
				let detail = {
					id: e.goods_id,
					title: e.goods_name,
				}
				if(this.inviteNum<3&&e.goods_id==26){
					this.tui.toast("需邀请三人才能免费领取");
					
					setTimeout(() => {
						
						uni.navigateTo({
							url: '../user/invite/invite'
						})
						
						//done(); // 完成刷新
					},1000*1)
					
				}else{
					uni.navigateTo({
						url: "./acdetail?detail=" + JSON.stringify(detail)
					})
				}
				
			},
			async loadData() {
				this.$http.get('/api/product/index').then(res => {
					
					this.productList = res.data.data;
					
				})
			},
			async loadinvite() {
				this.$http.get('/api/user/invite',{token:this.userinfo.token}).then(res => {
					
					this.inviteNum = res.data.data.count;
				 
				})
			},
			async loadActivityData() {
				this.$http.get('/api/product/activity',{token:this.userinfo.token}).then(res => {
					
					this.activityList = res.data.data;
					console.log(res.data)
				   console.log(res.data.data)
				})
			},
		},
		
		
	}
</script>


<style>
	.pro-container{
		background: #f0f2f5;
	}
	.tui-pro-tit {
		text-align: center;
		color: #2e2e2e;
		font-size: 30rpx;
		word-break: break-all;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		font-family:PingFangSC-Medium;
		font-weight:500;
		color:rgba(43,47,70,1);
	}
	.title-icon{
		display: inline;
	}
	.title-icon image{
		width: 40rpx;
		height: 40rpx;
		margin-right: 6rpx;
	}
	.title{
		font-size:50rpx;
		line-height:56rpx;
		
	}
	.title-name{
		padding-left: 20rpx;
		font-size:40rpx;
		line-height:56rpx;
	}
	.tui-fee{
		width: 100%;
		text-align: center;
		font-size:30rpx;
		font-family:HiraKakuStdN-W8;
		font-weight:normal;
		color:rgba(234,59,57,1);
		line-height:42px;
	}
	.tui-fee-dec{
		width: 100%;
		text-align: center;
		font-size:30rpx;
		font-family:PingFangSC-Regular;
		font-weight:400;
		color:rgba(175,190,214,1);
		line-height:24rpx;
	}
	.tui-pro{
		font-size:30rpx;
		font-family:PingFangSC-Regular;
		font-weight:400;
		color:rgba(175,190,214,1);
		line-height:34rpx;
	}
	.tui-pro-con{
		font-size:30rpx;
		font-family:PingFangSC-Regular;
		font-weight:400;
		color:rgba(43,47,70,1);
		line-height:34rpx;
	}
	.list-item{
		padding: 30rpx;
		margin: 30rpx 3%;
		width: 94% !important;
		background:rgba(255,255,255,1);
		box-shadow:0px 1px 7px 3px rgba(43,47,70,0.05);
		border-radius:20rpx;
	}
	.hongbao image{
		width: 94%;
		height: 320rpx;
		margin: 3% 3% 0 3%;
	}
    .tui-pro-item {
		display: flex;
		width: 100%;
		background: #fff;
		box-sizing: border-box;
		border-radius: 12rpx;
		position: relative;
	}

	.tui-pro-item::after {
		left: 240rpx;
	}

	.tui-pro-img {
		width: 220rpx;
		height: 220rpx;
		display: block;
		flex-shrink: 0;
		border-radius: 12rpx;
	}

	.tui-pro-content {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		box-sizing: border-box;
		padding: 20rpx;
	}

	

	.tui-pro-btmbox {
		width: 100%;
		padding: 10rpx 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.tui-sale-price {
		font-size: 34rpx;
		font-weight: 500;
		color: #e41f19;
	}

	.tui-factory-price {
		font-size: 24rpx;
		color: #a0a0a0;
		text-decoration: line-through;
		padding-left: 12rpx;
	}

	.tui-countdown {
		display: flex;
		align-items: center;
	}

	.tui-countdown-text {
		padding: 0 8rpx;
		font-size: 24rpx;
		line-height: 24rpx;
		color: #555;
	}
</style>
