<template>
	<view class="container">
		<view class="tui-list-view tui-list-view tui-view-class tui-view-class">
		<view class="tui-flex nav-header">
			<view class="tui-center tui-light-brownish tui-col-4">充值积分</view>
			<view class="tui-center tui-light-brownish tui-col-4">充值时间</view>
			<view class="tui-center tui-light-brownish tui-col-4">状态</view>
			
		</view>
		<view class="tui-list-content ">
			<view v-for="(item,index) in newsList" :key="index" @click="detail(item)"  class='tui-cell-class tui-cell-class tui-list-cell tui-list-cell tui-cell-arrow tui-cell-arrow' hover-class="tui-cell-hover" hover-stay-time="150" style="background:#fff;font-size:14px;color:#333;">
			   <view class="tui-center  tui-col-4">{{item.money}}</view>
			   <view class="tui-center  tui-col-4">{{item.createtime *1000 | formatDate}}</view>
			   <view class="tui-center  tui-col-4">{{item.status}}</view>
			   
			</view>
			
		</view>
		</view>
	
	</view>
</template>

<script>
	
	import Api from "@/common/api"
	const util = require('../../utils/util.js')
	import {formatDate} from '../../common/data.js';
	import {
		mapState,
		mapMutations
	} from 'vuex'
	
	export default {
		components: {
			
		},
		data() {
			return {
	           newsList:{},
			   userInfo:{}
			}
		},
		onLoad() {
			this.userInfo = uni.getStorageSync("userInfo");
			
			this.loadData();
		},
		filters: {
			formatDate(time) {
				var date = new Date(time);
				return formatDate(date, 'MM-dd hh:mm');
			}
		},
		computed: {
			...mapState(['hasLogin'])
		},
		methods: {
			detail: function(e) {
				
				let detail = {
					id: e.id,
					title: e.title,
				}
				uni.navigateTo({
					url: "./detail?detail=" + JSON.stringify(detail)
				})
			},
			
			async loadData() {
				
				let params = {
					token: this.userInfo.token,
					user_id: this.userInfo.user_id
				};
				let data = await Api.apiCall('get', Api.index.crash, params);
				if (data) {
					this.newsList = data.data;
				}
			}
		}
	}
</script>

<style>
	.container {
		padding-bottom: env(safe-area-inset-bottom);
	}
	.tui-list-cell {
		position: relative;
		width: 100%;
		padding: 26upx 0;
		box-sizing: border-box;
		overflow: hidden;
		display: flex;
		align-items: center;
	}
	
   .tui-list-content{
	   font-size: 28rpx;
	   
   }
	.tui-cell-hover {
		background: #f7f7f9 !important;
	}
	
	
	/* flex start*/
	.tui-flex {
		display: -webkit-flex;
		display: -webkit-box;
		display: flex;
	}
	.tui-center {
		text-align: center;
	}
	.tui-center {
		padding: 18rpx 0;
		margin-bottom: 12rpx;
		border-bottom: solid 1rpx #e7e7e7;

	}
	
	.tui-col-8 {
		width: 66.66666667%;
	}
	.tui-col-7 {
		width: 58.33333333%;
	}
	.tui-col-6 {
		width: 50%;
	}
	.tui-col-5 {
		width: 41.66666667%;
	}
	.tui-col-4 {
		width: 33.33333333%;
	}
	.tui-col-3 {
		width: 25%;
	}
	.tui-col-2 {
		width: 16.66666667%;
	}
	
	.tui-flex-1 {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		        flex: 1;
	}
	.tui-light-brownish {
		background: #fcebef;
		color: #8a5966 !important;
	}
	.tui-list-cell::after {
		content: '';
		position: absolute;
		border-bottom: 1upx solid #eaeef1;
		-webkit-transform: scaleY(0.5);
		transform: scaleY(0.5);
		bottom: 0;
		right: 0;
		left: 30upx;
	}
	
	.tui-cell-last::after {
		border-bottom: 0 !important;
	}
	
	
	.tui-list-title{
		font-size:64rpx !important;
		font-family:PingFangSC-Semibold;
		font-weight:600;
		color:rgba(43,47,70,1);
		line-height:90rpx !important;
		padding: 30rpx;

	}
	
	
	.tui-list-cell-name {
		padding-left: 20upx;
		vertical-align: middle;
		line-height: 30upx;
	}
	
	.tui-list::after {
		left: 94upx !important
	}
	
	.tui-right {
		margin-left: auto;
		margin-right: 34upx;
		font-size: 26upx;
		line-height: 1;
		color: #999;
	}
	
	.logo {
		height: 40upx;
		width: 40upx;
	}
	
	.tui-flex {
		display: flex;
		align-items: center;
	}
	
	.tui-msg-box {
		display: flex;
		align-items: center;
	}
	
	.tui-msg-pic {
		width: 100upx;
		height: 100upx;
		border-radius: 50%;
		display: block;
		margin-right: 24upx;
	}
	
	.tui-msg-item {
		max-width: 500upx;
		min-height: 80upx;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.tui-msg-name {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 34upx;
		line-height: 1;
		color: #262b3a;
	}
	
	.tui-msg-content {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 26upx;
		line-height: 1;
		color: #9397a4;
	}
	
	.tui-msg-right {
		max-width: 120upx;
		height: 88upx;
		margin-left: auto;
		text-align: right;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
	}
	
	.tui-msg-right.tui-right-dot {
		height: 76upx;
		padding-bottom: 10upx;
	
	}
	
	.tui-msg-time {
		width: 100%;
		font-size: 24upx;
		line-height: 24upx;
		color: #9397a4;
	}
	
	.tui-badge {
		width: auto
	}
	
	.tui-msg::after {
		left: 154upx !important
	}




	.tui-msg-box {
		display: flex;
		align-items: center;
	}
	
	.tui-msg-pic {
		width: 100upx;
		height: 100upx;
		border-radius: 50%;
		display: block;
		margin-right: 24upx;
	}
	
	.tui-msg-item {
		max-width: 500upx;
		min-height: 80upx;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.tui-msg-name {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 34upx;
		line-height: 1;
		color: #262b3a;
	}
	
	.tui-msg-content {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 26upx;
		line-height: 1;
		color: #9397a4;
	}
	
	.tui-msg-right {
		max-width: 120upx;
		height: 88upx;
		margin-left: auto;
		text-align: right;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
	}
	
	.tui-msg-right.tui-right-dot {
		height: 76upx;
		padding-bottom: 10upx;
	
	}
	
	.tui-msg-time {
		width: 100%;
		font-size: 24upx;
		line-height: 24upx;
		color: #9397a4;
	}
	
	.tui-badge {
		width: auto
	}
	
	.tui-msg::after {
		left: 154upx !important
	}

</style>

	

	