<template>
	<view class="mcontent">
		<view class="header">
			<view class="userinfo">
				<view class="face" ><image :src="userInfo.avatar"></image></view>
				<view class="info">
					<view class="username">{{nickname}}</view>
					<view class="integral">积分:{{realmoney}}</view>
				</view>
			</view>
		</view>
		
		<view class="list" v-for="(list,list_i) in severList" :key="list_i">
			
			<navigator :url="li.url" class="li" v-for="(li,li_i) in list"   hover-class="hover" :key="li.name" >
				<view class="icon"><image :src="'../../static/HM-PersonalCenter/sever/'+li.icon"></image></view>
				<view class="text">{{li.name}}</view>
				<image class="to" src="../../static/HM-PersonalCenter/to.png"></image>
			</navigator>
			<view  class="li"  @tap="toLogout()"   hover-class="hover"  >
				<view class="icon"><image src="../../static/HM-PersonalCenter/sever/addr.png"></image></view>
				<view class="text">退出</view>
				<image class="to" src="../../static/HM-PersonalCenter/to.png"></image>
			</view>
		</view>
	</view>
</template>
<script>
	import {
		mapState,
		mapMutations
	} from 'vuex'
	
	
	export default {
		
		data() {
			return {
				userInfo:{},
				realmoney:0,
				nickname:'',
				severList:[
					
					[
						{name:'账变记录',icon:'mingxi.png',url:'./moneylog'},
						{name:'充值记录',icon:'momey.png',url:'./crash'},
						{name:'提现记录',icon:'bank.png',url:'./withdraw'},
						{name:'提现设置',icon:'security.png',url:'./setting/alipay'},
						{name:'设置昵称',icon:'choujiang.png',url:'./setting/setting'},
						{name:'我要分享',icon:'renw.png',url:'./invite/index'},
					 ]
				],
			};
		},
		computed: {
			...mapState(['hasLogin'])
		},
		onShow() {
			this.realmoney = uni.getStorageSync("realmoney");
			this.nickname = uni.getStorageSync("nickname");
		},
		onLoad() {
			this.userInfo = uni.getStorageSync("userInfo");
			this.nickname = uni.getStorageSync("nickname");
			
			
			this.realmoney = uni.getStorageSync("realmoney");
			console.log(this.userInfo);
		},
		methods: {
			...mapMutations(['logout']),
			bindLogin() {
				uni.navigateTo({
					url: '../login/login',
				});
			},
			
			
			toLogout: function() {
				uni.showModal({
					title: '提示',
					content: '确定退出登录？',
					confirmColor: '#5677FC',
					success: (res) => {
						if (res.confirm) {
							uni.clearStorage();
							this.logout();
							uni.reLaunch({
								url: './login/login'
							})
						}
					}
				});
			},
		}
	}
</script>

<style lang="scss">
page{background-color:#fff}
.mcontent{width: 100%;}
.header{
	background-color:#ff6364;width:92%;height:30vw;padding:0 4%;display:flex;align-items:center;
	.userinfo{
		width:90%;display:flex;
		.face{flex-shrink:0;width:15vw;height:15vw;
			image{width:100%;height:100%;border-radius:100%}
		}
		.info{
			display:flex;flex-flow:wrap;padding-left:30upx;
			.username{width:100%;color:#fff;font-size:40upx}
			.integral{display:flex;align-items:center;padding:0 20upx;height:40upx;color:#fff;background-color:rgba(0,0,0,0.1);border-radius:20upx;font-size:24upx}
		}
	}
	
}
.hover{background-color:#eee}
.orders{
	background-color:#ff6364;width:92%;height:15vw;padding:0 4%;border-radius:0 0 100% 100%;
	.box{
		width:98%;padding:0 1%;height:22vw;background-color:#fefefe;border-radius:24upx;box-shadow:0 0 20upx rgba(0,0,0,0.15);margin-bottom:40upx;display:flex;align-items:center;justify-content:center;
		.label{
			display:flex;align-items:center;justify-content:center;flex-flow:wrap;width:100%;height:16vw;color:#666666;font-size:26upx;
			.icon{
				position:relative;width:7vw;height:7vw;margin:0 1vw;
				.badge{position:absolute;width:4vw;height:4vw;background-color:#ec6d2c;top:-1vw;right:-1vw;border-radius:100%;font-size:20upx;color:#fff;display:flex;align-items:center;justify-content:center;z-index: 10;}
				image{width:7vw;height:7vw;z-index: 9;}
			}
		}
	}
}
.list{
	width:100%;border-bottom:solid 26upx #f1f1f1;
	.li{
		width:92%;height:100upx;padding:0 4%;border-bottom:solid 1upx #e7e7e7;display:flex;align-items:center;
	&.noborder{border-bottom:0}
		.icon{
			flex-shrink:0;width:50upx;height:50upx;
			image{width:50upx;height:50upx}
		}
		.text{padding-left:20upx;width:100%;color:#666}
		.to{flex-shrink:0;width:40upx;height:40upx}
	}
}
</style>


