<template>
	<view class="container">
		
		<view class="tui-content-box">
			<view class="tui-content">{{detail.title}}</view>
			<view class="tui-content"></view>
			<!-- <view class="tui-content">{{detail.content}}</view> -->
			<rich-text :nodes="detail.content"></rich-text>
			<view class="tui-footer">
				<!-- <image src='../../static/images/my/applets.jpg' class="tui-applets" mode="widthFix"></image> -->
				<view class="tui-footer-text">{{detail.createtime*1000 | formatDate}}</view>
			</view>
		</view>

	</view>
</template>

<script>
	import {
		mapState
	} from 'vuex'
    import {formatDate} from '../../common/data.js';
	
	export default {
		computed: mapState(['version']),
		data() {
			return {
               detail:{}
			}
		},
		onLoad: function(options) {
			
			this.option = JSON.parse(options.detail);
			
			console.log(this.option.id);
			
			this.$http.get('/api/news/detail',{id: this.option.id}).then(res => {
					this.detail = res.data.data;
					console.log(this.detail);
				})
		},
		filters: {
			formatDate(time) {
				var date = new Date(time);
				return formatDate(date, 'yyyy-MM-dd hh:mm');
			}
		},
		methods: {
			email: function() {
				const that=this
				uni.setClipboardData({
					data: '1062884167@qq.com',
					success(res) {
						uni.getClipboardData({
							success(res) {
								that.tui.toast("邮箱已复制", 2000, true)
							}
						})
					}
				})
			},
			log: function() {
				uni.navigateTo({
					url: '../log/log'
				})
			}
		}
	}
</script>

<style>
	.container {
		padding: 0 50upx 40upx 50upx;
		box-sizing: border-box;
		overflow: hidden;
	}

	.tui-flex {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 40px;
	}

	

	.tui-content-box {
		width: 100%;
		margin-top: 50px;
		padding: 30upx;
		box-sizing: border-box;
		background: #fff;
		border-radius: 10upx;
		box-shadow: 0 0 10upx #eee;
	}

	.tui-content {
		color: #333;
		font-size: 30upx;
		line-height: 44upx;
		padding: 10upx 0;
		text-align: justify;
	}

	.tui-content-email {
		color: #5677fc !important;
	}

	.tui-footer {
		display: flex;
		align-items: center;
		padding-top: 30upx;
	}

	.tui-applets {
		width: 80px;
		height: 80px;
		display: block;
	}

	.tui-footer-text {
		font-size: 24upx;
		color: #999;
		padding-left: 20upx;
		width: 300upx;
	}
</style>
