<template>
	<view class="container">
		<view class="tui-list-view tui-list-view tui-view-class tui-view-class">
		<view class="tui-list-title tui-list-title">公告中心</view>
		<view class="tui-list-content tui-list-content">
			<view v-for="(item,index) in newsList" :key="index" @click="detail(item)"  class='tui-cell-class tui-cell-class tui-list-cell tui-list-cell tui-cell-arrow tui-cell-arrow' hover-class="tui-cell-hover" hover-stay-time="150" style="background:#fff;font-size:16px;color:#333;">
			   
			   <view class="tui-msg-box">
			   	<view class="tui-msg-item">
			   		<view class="tui-msg-name">{{item.title}}</view>
			   		<view class="tui-msg-content">{{item.createtime *1000 | formatDate}}</view>
			   	</view>
			   </view>
			</view>
			
		</view>
		</view>
	
	</view>
</template>

<script>
	
	
	const util = require('../../utils/util.js')
	import {formatDate} from '../../common/data.js';
	export default {
		components: {
			
		},
		data() {
			return {
	           newsList:{}
			}
		},
		onLoad() {
			this.loadData();
		},
		filters: {
			formatDate(time) {
				var date = new Date(time);
				return formatDate(date, 'yyyy-MM-dd hh:mm');
			}
		},
		methods: {
			detail: function(e) {
				
				let detail = {
					id: e.id,
					title: e.title,
				}
				uni.navigateTo({
					url: "./detail?detail=" + JSON.stringify(detail)
				})
			},
			
			async loadData() {
				this.$http.get('/api/news/index', {type: 'notice'}).then(res => {
				if(res.data.code>0){
					this.newsList = res.data.data;
					}else{
					 this.tui.toast(res.data.msg);
						
						
					}
					
					
				})
			}
		}
	}
</script>

<style>
	.container {
		padding-bottom: env(safe-area-inset-bottom);
	}
	.tui-list-cell {
		position: relative;
		width: 100%;
		padding: 26upx 30upx;
		box-sizing: border-box;
		overflow: hidden;
		display: flex;
		align-items: center;
	}
	.tui-list-view {
	padding-top: 40rpx !important;
	
	}

	.tui-cell-hover {
		background: #f7f7f9 !important;
	}
	
	.tui-list-cell::after {
		content: '';
		position: absolute;
		border-bottom: 1upx solid #eaeef1;
		-webkit-transform: scaleY(0.5);
		transform: scaleY(0.5);
		bottom: 0;
		right: 0;
		left: 30upx;
	}
	
	.tui-cell-last::after {
		border-bottom: 0 !important;
	}
	
	.tui-list-cell.tui-cell-arrow:before {
		content: " ";
		height: 11px;
		width: 11px;
		border-width: 2px 2px 0 0;
		border-color: #b2b2b2;
		border-style: solid;
		-webkit-transform: matrix(0.5, 0.5, -0.5, 0.5, 0, 0);
		transform: matrix(0.5, 0.5, -0.5, 0.5, 0, 0);
		position: absolute;
		top: 50%;
		margin-top: -7px;
		right: 30upx;
	}
	.tui-list-title{
		font-size:64rpx !important;
		font-family:PingFangSC-Semibold;
		font-weight:600;
		color:rgba(43,47,70,1);
		line-height:90rpx !important;
		padding: 30rpx;

	}
	.tui-list-view {
		padding-top: 40upx !important;
		
	}
	
	.tui-list-cell-name {
		padding-left: 20upx;
		vertical-align: middle;
		line-height: 30upx;
	}
	
	.tui-list::after {
		left: 94upx !important
	}
	
	.tui-right {
		margin-left: auto;
		margin-right: 34upx;
		font-size: 26upx;
		line-height: 1;
		color: #999;
	}
	
	.logo {
		height: 40upx;
		width: 40upx;
	}
	
	.tui-flex {
		display: flex;
		align-items: center;
	}
	
	.tui-msg-box {
		display: flex;
		align-items: center;
	}
	
	.tui-msg-pic {
		width: 100upx;
		height: 100upx;
		border-radius: 50%;
		display: block;
		margin-right: 24upx;
	}
	
	.tui-msg-item {
		max-width: 500upx;
		min-height: 80upx;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.tui-msg-name {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 34upx;
		line-height: 1;
		color: #262b3a;
	}
	
	.tui-msg-content {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 26upx;
		line-height: 1;
		color: #9397a4;
	}
	
	.tui-msg-right {
		max-width: 120upx;
		height: 88upx;
		margin-left: auto;
		text-align: right;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
	}
	
	.tui-msg-right.tui-right-dot {
		height: 76upx;
		padding-bottom: 10upx;
	
	}
	
	.tui-msg-time {
		width: 100%;
		font-size: 24upx;
		line-height: 24upx;
		color: #9397a4;
	}
	
	.tui-badge {
		width: auto
	}
	
	.tui-msg::after {
		left: 154upx !important
	}




	.tui-msg-box {
		display: flex;
		align-items: center;
	}
	
	.tui-msg-pic {
		width: 100upx;
		height: 100upx;
		border-radius: 50%;
		display: block;
		margin-right: 24upx;
	}
	
	.tui-msg-item {
		max-width: 500upx;
		min-height: 80upx;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.tui-msg-name {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 34upx;
		line-height: 1;
		color: #262b3a;
	}
	
	.tui-msg-content {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 26upx;
		line-height: 1;
		color: #9397a4;
	}
	
	.tui-msg-right {
		max-width: 120upx;
		height: 88upx;
		margin-left: auto;
		text-align: right;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
	}
	
	.tui-msg-right.tui-right-dot {
		height: 76upx;
		padding-bottom: 10upx;
	
	}
	
	.tui-msg-time {
		width: 100%;
		font-size: 24upx;
		line-height: 24upx;
		color: #9397a4;
	}
	
	.tui-badge {
		width: auto
	}
	
	.tui-msg::after {
		left: 154upx !important
	}

</style>

	

	