<template>
	<view class="container">
		
		<view class="tui-content-box">
			
			<image src='https://btc.51mine.top/assets/images/activity.jpeg' class="qrcode" mode="widthFix"></image>

			<!-- <view class="tui-footer">
				<button class=" tui-btn-reback" hover-class="btn-hover" @tap="download">保存图片</button>

			</view> -->
	
		
      </view>
	</view>
</template>

<script>
	import {
		mapState
	} from 'vuex'
	export default {
		computed: mapState(['version']),
		data() {
			return {

			}
		},
		methods: {

			download: function() {
				uni.downloadFile({
				    url: 'https://btc.51mine.top/assets/images/activity.jpeg', //仅为示例，并非真实的资源
				    success: (res) => {
				        if (res.statusCode === 200) {
				            console.log('下载成功');
				        }
				    }
				});
			}
		}
	}
</script>

<style>
	uni-page-body{
		height: 100%;
	}
	.container {
		box-sizing: border-box;
		overflow: hidden;
		height: 100%;
	}

	
	.tui-content-box {
		width: 100%;
		margin-top: 10upx;
		padding: 10upx;
		box-sizing: border-box;
		background: #fff;
		border-radius: 10upx;
		box-shadow: 0 0 10upx #eee;
		height: 100%;
	}

	

	.tui-footer {
		display: flex;
		align-items: center;
		padding-top: 30upx;
	}

	.qrcode {
		width: 100%;
		min-height: 700px;
		display: block;
	}


	.tui-btn-reback {
		background: #AFBED6;
		margin: 30rpx;
		color: #FFFFFF;
		width: 80%;
		margin: 0 auto;
		font-size: 28rpx;
	}
</style>
