<template>
	<view class="container">
		<view class="tui-flex">
			<view class="tui-cube-box" @tap='log'>
				<view class="tui-cube tui-cube-1">百利</view>
				<view class="tui-cube tui-cube-2">彩票</view>
				<view class="tui-cube tui-cube-3">中奖</view>
				<view class="tui-cube tui-cube-4">赛车</view>
				<view class="tui-cube tui-cube-5">飞艇</view>
				<view class="tui-cube tui-cube-6">28</view>
			</view>
		
		</view>
		<view class="tui-content-box">
			<view class="tui-content">
				
				<image src='../../static/images/my/qrcode.jpeg' class="qrcode"></image>
				
			</view>
			
			
			<view class="tui-footer">
				<!-- <image src='../../static/images/my/applets.jpg' class="tui-applets" mode="widthFix"></image> -->
				<view class="tui-footer-text">微信号：ccccc</view>
			</view>
		</view>

	</view>
</template>

<script>
	import {
		mapState
	} from 'vuex'
	export default {
		computed: mapState(['version']),
		data() {
			return {

			}
		},
		methods: {
			email: function() {
				const that=this
				uni.setClipboardData({
					data: '1062884167@qq.com',
					success(res) {
						uni.getClipboardData({
							success(res) {
								that.tui.toast("邮箱已复制", 2000, true)
							}
						})
					}
				})
			},
			log: function() {
				uni.navigateTo({
					url: '../log/log'
				})
			}
		}
	}
</script>

<style>
	.container {
		padding: 0 50upx 40upx 50upx;
		box-sizing: border-box;
		overflow: hidden;
	}

	.tui-flex {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 40px;
	}

	.tui-cube-box {
		width: 60px;
		height: 60px;
		position: relative;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
		animation: tui-go 4s linear infinite;
	}
	
	@keyframes tui-go {
		0% {
			-webkit-transform: rotateX(0) rotateY(0);
			transform: rotateX(0) rotateY(0);
		}
	
		100% {
			-webkit-transform: rotateX(360deg) rotateY(360deg);
			transform: rotateX(360deg) rotateY(360deg);
		}
	}
	
	.tui-cube {
		width: 60px;
		height: 60px;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px;
		box-sizing: border-box;
		font-size: 24upx;
		color: #fff;
		text-align: center;
		word-break: break-all;
		word-wrap: break-word;
	}
	
	.tui-cube-1 {
		background: #fff;
		-webkit-transform: rotateY(90deg) translateZ(-30px);
		transform: rotateY(90deg) translateZ(-30px);
		color: #333 !important;
	}
	
	.tui-cube-2 {
		background: #8a5966;
		-webkit-transform: rotateY(90deg) translateZ(30px);
		transform: rotateY(90deg) translateZ(30px);
	}
	
	.tui-cube-3 {
		background: linear-gradient(-90deg, #5677fc, #5c8dff);
		-webkit-transform: rotateX(90deg) translateZ(30px);
		transform: rotateX(90deg) translateZ(30px);
	}
	
	.tui-cube-4 {
		background: #ed3f14;
		-webkit-transform: rotateX(90deg) translateZ(-30px);
		transform: rotateX(90deg) translateZ(-30px);
	}
	
	.tui-cube-5 {
		background: #ff7900;
		-webkit-transform: translateZ(30px);
		transform: translateZ(30px);
	}
	
	.tui-cube-6 {
		background: #19be6b;
		-webkit-transform: translateZ(-30px);
		transform: translateZ(-30px);
	}
	.tui-content-box {
		width: 100%;
		margin-top: 50px;
		padding: 30upx;
		box-sizing: border-box;
		background: #fff;
		border-radius: 10upx;
		box-shadow: 0 0 10upx #eee;
	}

	.tui-content {
		color: #333;
		font-size: 30upx;
		line-height: 44upx;
		padding: 10upx 0;
		text-align: justify;
	}

	.tui-content-email {
		color: #5677fc !important;
	}

	.tui-footer {
		display: flex;
		align-items: center;
		padding-top: 30upx;
	}

	.qrcode {
		width: 100%;
		height: 500rpx;
		display: block;
	}

	.tui-footer-text {
		font-size: 24upx;
		color: #999;
		padding-left: 20upx;
		width: 300upx;
	}
</style>
