<template>
	<view class="container">
		
		<view class="tui-content-box">
		一、声明
		银河算力（www.51mine.top）所提供的各项服务的所有权和运作权均归银河算力团队所有。《银河算力注册服务协议》（以下简称“本协议”）由银河算力网用户与银河算力团队就各项服务所订立的相关权利义务规范。用户通过访问和/或使用本网站，即表示接受并同意本协议的所有条件和条款。银河算力作为银河算力网（www. 51mine.top）的运营者依据本协议为用户提供服务。不愿接受本协议条款的，不得访问或使用本网站。

		二、用户服务
		为用户通过银河算力网进行算力租赁活动提供网络服务。银河算力不作为买家或是卖家参与买卖比特币行为。银河算力是共享云算力服务商

		1.服务内容
		(1)用户有权在银河算力网浏览比特币实时行情及交易信息、有权通过银河算力网租赁比特币算力。

		(2)用户有权在银河算力网查看其银河算力会员账号下的信息，有权应用银河算力网提供的功能进行操作。

		(3)用户有权按照银河算力发布的活动规则参与银河算力网组织的网站活动。

		(4)银河算力承诺为用户提供的其他服务。

		2.服务规则
		(1)您在银河算力网交易过程中与其他会员发生交易纠纷时，一旦您或其它会员任一方或双方共同提交银河算力要求调处，则银河算力有权根据单方判断做出调处决定，您了解并同意接受银河算力的判断和调处决定。

		(2)您了解并同意，银河算力有权应政府部门（包括司法及行政部门）的要求，向其提供您向银河算力网提供的用户信息和交易记录等必要信息。如您涉嫌侵犯他人知识产权等合法权益，则银河算力亦有权在初步判断涉嫌侵权行为存在的情况下，向权利人提供您必要的身份信息。

		(3)您在使用银河算力网服务过程中，所产生的应纳税赋，以及一切硬件、软件、服务及其它方面的费用，均由您独自承担。

		(4)使用该服务时，您同意所有交易一旦执行便不可更改。

		(5)使用该服务时，您同意无论损益，银河算力网有权随时清算交易。

		三、服务的修改及终止
		1.协议的变更
		银河算力网有权随时对本协议内容或银河算力网发布的其他服务条款及操作规则的内容进行变更，变更时银河算力网将在银河算力网站内显著位置发布公告，变更自公告发布之时生效，如用户继续使用银河算力网提供的服务即视为用户同意该等内容变更，如用户不同意变更后的内容则用户有权停止使用银河算力网服务。

		2.协议的终止
		(1)银河算力网有权依据本协议约定注销用户的银河算力网账号或终止全部银河算力网服务，本协议于账号注销之日终止。

		(2)本协议终止后，用户无权要求银河算力网继续向其提供任何服务或履行任何其他义务，包括但不限于要求银河算力网为用户保留或向用户披露其原银河算力网账号中的任何信息，向用户或第三方转发任何其未曾阅读或发送过的信息等。

		(3)本协议的终止不影响守约方向违约方追究违约责任。

		四、隐私权政策
		1.适用范围
		(1)在用户注册银河算力账号或者支付账户时，用户根据银河算力要求提供的个人注册信息；

		(2)在用户使用银河算力服务时，或访问银河算力网页时，银河算力自动接收并记录的用户浏览器上的服务器数值，包括但不限于IP地址等数据及用户要求取用的网页记录；

		(3) 银河算力收集到的用户在银河算力进行交易的有关数据，包括但不限于出售、购买、存款等记录；

		(4) 银河算力通过合法途径取得的其他用户个人信息。

		2.信息使用
		(1) 银河算力不会向任何人出售或出借用户的个人信息，除非事先得到用户的许可。银河算力也不允许任何第三方以任何手段收集、编辑、出售或者无偿传播用户的个人信息。

		(2) 银河算力对所获得的客户身份资料和交易信息进行保密，不得向任何单位和个人提供客户身份资料和交易信息，法律法规另有规定的除外

		五、用户的权利和义务
		1.不得干扰或试图干扰服务或访问网站，并使用除接口之外的服务方法。否则，您同意承担任何直接或间接损失或损害作为您违反服务条款的结果。

		2. 银河算力网不审查或批准任何访问您的银河算力账户的第三方网站的请求，并不向这些网站追查任何责任。如果你不信任正在请求您的信息的网站，你不应该批准该请求。

		3.不得利用本站危害国家安全、泄露国家秘密，不得侵犯国家社会集体的和公民的合法权益。

		4.用户不得通过任何手段恶意注册银河算力网帐号，包括但不限于以牟利、炒作、套现、获奖等为目的多个账号注册。用户亦不得盗用其他用户帐号。

		5.禁止用户将银河算力网以任何形式作为从事各种非法活动的场所、平台或媒介。未经银河算力网的授权或许可，用户不得借用本站的名义从事任何商业活动，也不得以任何形式将银河算力网作为从事商业活动的场所、平台或媒介。

		如用户违反上述规定，则银河算力网有权直接采取一切必要的措施，包括但不限于删除用户发布的内容、取消用户在网站获得的星级、荣誉以及虚拟财富，暂停或查封用户帐号，取消因违规所获利益，乃至通过诉讼形式追究用户法律责任等。

		六、拒绝担保与免责
		1.银河算力网作为“网络服务提供者”的第三方平台，不担保网站平台上的信息及服务能充分满足用户的需求。对于用户在接受银河算力网的服务过程中可能遇到的错误、侮辱、诽谤、不作为、淫秽、色情或亵渎事件，银河算力网不承担法律责任。

		2.基于互联网的特殊性，银河算力网也不担保服务不会受中断，对服务的及时性、安全性都不作担保，不承担非因银河算力网导致的责任。银河算力网力图使用户能对本网站进行安全访问和使用，但银河算力网不声明也不保证本网站或其服务器是不含病毒或其它潜在有害因素的；因此用户应使用业界公认的软件查杀任何自银河算力网下载文件中的病毒。

		3. 银河算力网不对用户所发布信息的保存、修改、删除或储存失败负责。对网站上的非因银河算力网故意所导致的排字错误、疏忽等不承担责任。银河算力网有权但无义务，改善或更正本网站任何部分之疏漏、错误。

		4. 除非银河算力网以书面形式明确约定，银河算力网对于用户以任何方式（包括但不限于包含、经由、连接或下载）从本网站所获得的任何内容信息，包括但不限于广告等，不保证其准确性、完整性、可靠性；对于用户因本网站上的内容信息而购买、获取的任何产品、服务、信息或资料，银河算力网不承担责任。用户自行承担使用本网站信息内容所导致的风险。

		5. 银河算力网内所有用户所发表的用户评论，仅代表用户个人观点，并不表示本网站赞同其观点或证实其描述，本网站不承担用户评论引发的任何法律责任。

		6.银河算力有权删除银河算力网内各类不符合法律或协议规定的信息，而保留不通知用户的权利。

		7.所有发给用户的通告，银河算力网都将通过正式的页面公告、站内信、电子邮件、客服电话、手机短信或常规的信件送达。任何非经银河算力网正规渠道获得的中奖、优惠等活动或信息，银河算力网不承担法律责任。

		8. 银河算力网有权根据市场情况调整充值、提现、交易等手续费费率，有权决定免费推广期的终止。

		七、知识产权声明
		银河算力的一切版权、商标权、专利权、商业秘密等知识产权，以及与其相关的所有信息内容，包括但不限于：文字表述及其组合、图标、图饰、图表、色彩、界面设计、版面框架、有关数据、印刷材料、或电子文档等均受中华人民共和国著作权法、商标法、专利法、反不正当竞争法和相应的国际条约以及其他知识产权法律法规的保护，除涉及第三方授权的软件或技术外，银河算力享有上述知识产权。未经银河算力书面同意，用户不得为任何营利性或非营利性的目的自行实施、利用、转让或许可任何三方实施、利用、转让上述知识产权，银河算力保留追究上述未经许可行为的权利。

		八、特别声明
		在法律允许的范围内，不论在何种情况下，银河算力对由于信息网络设备维护、信息网络连接故障、电脑、通讯 或其他系统的故障、电力故障、罢工、劳动争议、暴乱、起义、骚乱、生产力或生产资料不足、火灾、洪水、风暴、爆炸、战争、政府行为、 司法行政机关的命令、其他不可抗力或第三方的不作为而造成的不能服务或延迟服务，以及用户因此而遭受的损失不承担责任。

		九、风险提示
		1.比特币交易有极高的风险
		(1)比特币市场是全新的、未经确认的，而且可能不会增长。目前，比特币主要由投机者大量使用，零售和商业市场使用相对较少，因此比特币价格易产生波动，并进而对比特币投资产生不利影响。

		(2)比特币市场没有像股市那样的涨跌停限制，同时交易是24小时开放的。比特币由于筹码较少，价格易受到庄家控制，有可能出现一天价格涨几倍的情况，同时也可能出现一天内价格跌去一半的情况。

		2.参与比特币交易，用户应当自行控制风险，评估比特币投资价值和投资风险，承担损失全部投资的经济风险。
		3.因国家法律、法规和规范性文件的制定或者修改，导致比特币的交易被暂停、或者禁止的，因此造成的经济损失全部由用户自行承担。
		十、法律管辖和适用
		1.因用户使用银河算力网站而引起或与之相关的一切争议、权利主张或其它事项，均受中华人民共和国法律的管辖。

		2.用户和银河算力网发生争议的，应首先本着诚信原则通过协商加以解决。如果协商不成，则应向银河算力网所在地人民法院提起诉讼。

		十一、协议的生效和解释
		1.本协议于用户点击银河算力网注册页面的同意注册并完成注册程序、获得银河算力网账号和密码时生效，对银河算力和用户均具有约束力。

		2.用户在注册之前已充分阅读理解上述条款，并愿意承担相关责任。本规定最终解释权归所有
				
			
		</view>

	</view>
</template>

<script>
	import {
		mapState
	} from 'vuex'
	export default {
		computed: mapState(['version']),
		data() {
			return {

			}
		},
		methods: {
			email: function() {
				const that=this
				uni.setClipboardData({
					data: '1062884167@qq.com',
					success(res) {
						uni.getClipboardData({
							success(res) {
								that.tui.toast("邮箱已复制", 2000, true)
							}
						})
					}
				})
			},
			log: function() {
				uni.navigateTo({
					url: '../log/log'
				})
			}
		}
	}
</script>

<style>
	.container {
		/* padding: 0 50upx 40upx 50upx; */
		box-sizing: border-box;
		overflow: hidden;
	}

	.tui-flex {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 40px;
	}

	
	.tui-content-box {
		width: 100%;
		margin-top: 30rpx;
		padding: 20rpx;
		box-sizing: border-box;
		background: #fff;
		border-radius: 10upx;
		box-shadow: 0 0 10upx #eee;
	}

	.tui-content {
		color: #333;
		font-size: 30upx;
		line-height: 44upx;
		padding: 10upx 0;
		text-align: justify;
	}

	.tui-content-email {
		color: #5677fc !important;
	}

	.tui-footer {
		display: flex;
		align-items: center;
		padding-top: 30upx;
	}

	.tui-applets {
		width: 80px;
		height: 80px;
		display: block;
	}

	.tui-footer-text {
		font-size: 24upx;
		color: #999;
		padding-left: 20upx;
		width: 300upx;
	}
</style>
