<template>
	<view class="container">
		
		<view class="flex_row_c_c modalView" :class="qrShow?'show':''" @tap="hideQr()">
			<view class="flex_column">
				<view class="backgroundColor-white padding1vh border_radius_10px">
					<image :src="poster.finalPath" mode="widthFix" class="posterImage"></image>
				</view>
				<view class="flex_row marginTop2vh">
					<button type="primary" size="mini" @tap.prevent.stop="saveImage()">保存图片</button>
					<!-- <button type="primary" size="mini" @tap.prevent.stop="shareApp()">分享图片</button> -->
				</view>
			</view>
		</view>
		<view class="hideCanvasView">
			<canvas class="hideCanvas" 
			canvas-id="default_PosterCanvasId"
			:style="{width: (poster.width||0) + 'px', height: (poster.height||0) + 'px'}"></canvas>
		</view>
	</view>
</template>

<script>
  
   import _app from '@/utils/QS-SharePoster/miao.js';
   import getSharePoster from '@/utils/QS-SharePoster/QS-SharePostermiao.js';
   const util = require('../../utils/util.js')
	
	import {
		mapState
	} from 'vuex'
	export default {
		components:{
			
		},
		computed: mapState(['version']),
		data() {
			return {
               poster: {},
               qrShow: false,
               canvasId: 'default_PosterCanvasId',
			   userinfo:{},
			   invitedata:{}
			}
		},
		onLoad() {
			this.userinfo = uni.getStorageSync("userinfo");
			let isLogin = uni.getStorageSync("isLogin");
			if(!isLogin){
				uni.reLaunch({
					url: '../user/login/login'
				})
			}else{
				this.share();
			}
			
		},
		methods: {
			
			async share() {
				try {
					if (!this.poster.finalPath) {
						const d = await getSharePoster({
							type: '1',
							posterCanvasId: this.canvasId,
							qrCodeArray: ({bgObj, type, bgScale}) => {
								return [{
									text: 'https://btc.51mine.top/miaoqr.png',
									size: bgObj.width*0.2,
									dx: bgObj.width*0.40,
									dy: bgObj.height - bgObj.width*0.35
								}]
							},
							imagesArray: ({bgObj, type, bgScale}) => { //接收的第一个参数为背景图片的信息, 第二个参数是自定义标识（感觉这里用不到）, 图片为示例图片
								const dx = bgObj.width*0.3; 
								return [{
									//
									//url: '/static/miao.png',
									// 
									// #ifdef H5
									url: '/static/miao.png',
									// #endif
									dx,
									dy: bgObj.height - bgObj.width*0.20,
									//circleSet: true,	// 圆形图片 , 若circleSet与roundRectSet一同设置 优先circleSet设置
									infoCallBack(imageInfo) {
										let scale = bgObj.width*0.4 / imageInfo.width;
										return {
											dWidth: bgObj.width*0.4,	// 因为设置了圆形图片 所以要乘以2
											dHeight: imageInfo.height * scale,
											roundRectSet: {	// 圆角矩形
												r: imageInfo.width*.1
											}
										}
									}
								}]
							},
							textArray: ({bgObj, type, bgScale}) => {
								const fontSize = bgObj.width*0.045;
								const lineHeight = bgObj.height*0.04;
								return [{
									fontStyle: 'italic',
									text: '银河算力',
									size: fontSize,
									color: 'white',
									alpha: .5,
									textAlign: 'left',
									textBaseline: 'middle',
									infoCallBack(textLength) {
										_app.log('index页面的text的infocallback ，textlength:' + textLength);
										return {
											dx: bgObj.width - textLength - fontSize,
											dy: bgObj.height - lineHeight*3
										}
									}
								}
								
								]
							},
							setCanvasWH: ({bgObj, type, bgScale}) => { // 为动态设置画布宽高的方法，
								this.poster = bgObj;
							},
							setDraw: ({Context, bgObj, type, bgScale}) => {
								Context.setFillStyle('black');
								Context.setGlobalAlpha(0.3);
								Context.fillRect(0, bgObj.height - bgObj.height*0.2, bgObj.width, bgObj.height*0.2);
							}
						});
						console.log('海报生成成功， 临时路径: ' + d.poster.tempFilePath)
						this.poster.finalPath = d.poster.tempFilePath;
					}
					this.qrShow = true;
				} catch (e) {
					_app.hideLoading();
					_app.showToast(JSON.stringify(e));
					console.log(JSON.stringify(e));
				}
			},
			saveImage() {
				//saveimage
				uni.saveImageToPhotosAlbum({
					filePath: this.poster.finalPath,
					success(res) {
						_app.showToast('保存成功');
					}
				})	
				//savefile
				uni.saveFile({
				tempFilePath: this.poster.finalPath,
				success: function (res) {
					var savedFilePath = res.savedFilePath;
					_app.showToast('保存成功testrun');
				}
				});
				/*//plus test
				plus.gallery.save(this.poster.path,
				function(res){
					_app.showToast('保存成功1');
				})*/
			},
			hideQr() {
				this.qrShow = false;
			}
				
			
			
		}
	}
</script>

<style>
	.container {
		box-sizing: border-box;
		overflow: hidden;
		background: #415EBD;
		width: 100%;
		height: 100%;
	}

	.tui-flex {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.list-level{
		line-height: 80rpx;
	}
    .tui-top{
		width: 100%;
		height: auto;
	}
	.tui-lev{
		width: 30rpx;
		height: auto;
		margin-right: 3rpx;
	}
	.invite{
		background-color: #FFE06B;
		border-radius: 45rpx;
		width: 300rpx;
		height: 90rpx;
		color: #ED503F;
		font-size: 40rpx;
		font-weight: 600;
		text-align: center;
		margin: 0 auto;
		line-height: 90rpx;

	}
	.tui-col-4{
		width: 40%;
		color: white;
		text-align: center;
	}
	.line{
		width: 20%;
		text-align: center;
		color: white;
	}
    .tui-pro-title{
		font-size:28rpx;
		font-family:PingFangSC-Regular;
		font-weight:400;
		color:rgba(175,190,214,1);
		line-height:40rpx;
	}
	.pay-title{
		font-size:32rpx;
		font-family:HYYakuHei-IEW;
		font-weight:normal;
		color:rgba(255,255,255,1);
		line-height:38px;
		text-align: center;
	}
	.tui-pro-desc{
		font-size:32rpx;
		font-family:PingFangSC-Regular;
		font-weight:400;
		color:rgba(255,255,255,1);
		line-height:44rpx;
	}
	.tui-level-desc,.tui-pay-desc,.tui-pay-title{
		width: 30%;
		text-align: center;
		
	}
	.gray{
		color: rgba(175,190,214,1) !important;
	}
	
	.tui-pay-title{
		color: white;
		font-size:32rpx;
		font-family:PingFangSC-Semibold;
		font-weight:600;
		color:#AFBED6;
		line-height:68rpx;
	}
	.tui-pay-desc{
		font-size:28rpx;
		font-family:PingFangSC-Semibold;
		font-weight:600;
		color:rgba(255,255,255,1);
		line-height:58rpx;
	}
	.tui-content-box {
		width: 90%;
		margin:0 auto;
		padding: 30upx;
		margin-top: 40rpx;
		margin-bottom: 40rpx;
		box-sizing: border-box;
		background:rgba(255,245,245,1);
		box-shadow:0px 2px 4px 0px rgba(13,49,54,0.3);
		border-radius:20px;
		text-align: center;
		font-size:28rpx;
		font-family:HYYakuHei-IEW;
		font-weight:normal;
		color:rgba(43,47,70,1);
		line-height:34rpx;
		
	}

	.tui-content {
		color: #333;
		font-size: 30upx;
		line-height: 44upx;
		padding: 10upx 0;
		text-align: justify;
	}

	.tui-content-email {
		color: #5677fc !important;
	}

	.tui-footer {
		display: flex;
		align-items: center;
		padding-top: 30upx;
	}

	.tui-applets {
		width: 80px;
		height: 80px;
		display: block;
	}

	.tui-footer-text {
		font-size: 24upx;
		color: #999;
		padding-left: 20upx;
		width: 300upx;
	}
	.tui-level-title{
		width: 30%;
		font-size:32rpx;
		font-family:HYYakuHei-IEW;
		font-weight:normal;
		color:rgba(43,47,70,1);
		line-height:38rpx;
	}
	.hideCanvasView {
		position: relative;
	}

	.hideCanvas {
		position: fixed;
		top: -99999upx;
		left: -99999upx;
		z-index: -99999;
	}

	.flex_row_c_c {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.modalView {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		outline: 0;
		transform: scale(3);
		perspective: 2500upx;
		background: rgba(0, 0, 0, 0.6);
		transition: all .3s ease-in-out;
		pointer-events: none;
		backface-visibility: hidden;
		z-index: 999;
	}

	.modalView.show {
		opacity: 1;
		transform: scale(1);
		pointer-events: auto;
	}

	.flex_column {
		display: flex;
		flex-direction: column;
	}

	.backgroundColor-white {
		background-color: white;
	}

	.border_radius_10px {
		border-radius: 10px;
	}

	.padding1vh {
		padding: 1vh;
	}

	.posterImage {
		width: 70vw;
	}

	.flex_row {
		display: flex;
		flex-direction: row;
	}

	.marginTop2vh {
		margin-top: 2vh;
	}
	
	button[type=primary] {
		background-color:#FFE06B !important;
		color: #ED503F !important;

	}
	
</style>
